<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List Check Off</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="list" ng-controller="ToBuyController as toBuy">
            <h2>To Buy</h2>
            <p ng-if="toBuy.items.length === 0" class="message">Everything is bought!</p>
            <ul>
                <li ng-repeat="item in toBuy.items">
                    <span class="item-text">Buy {{item.quantity}} {{item.name}}</span>
                    <button ng-click="toBuy.buyItem($index)">Bought</button>
                </li>
            </ul>
        </div>
        <div class="list" ng-controller="AlreadyBoughtController as bought">
            <h2>Already Bought</h2>
            <p ng-if="bought.items.length === 0" class="message">Nothing bought yet</p>
            <ul>
                <li ng-repeat="item in bought.items">
                    <span class="item-text">Bought {{item.quantity}} {{item.name}}</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
